.hotellist{
    display: flex;
    flex-direction: row;
     /* justify-content: space-between; */
     background-color: #F8EFE6;
}

.maindiv{
    margin-left: 18rem;
     margin-top: 3rem;
     display: flex;
}
.TrendingSection{
    margin-left: 8rem;
    margin-top: 3rem;
    font-family: sans-serif;
}
.TopHotelSection{
    margin-left: 3rem;
    margin-top: 3rem;
    font-family: sans-serif;
}

.BestHotelSection{
    margin-left: 3rem;
    margin-top: 3rem;
    font-family: sans-serif;
}
.TypeHotelSection{
    margin-left: 3rem;
    margin-top: 3rem;
    font-family: sans-serif;
}

.linkall{
    margin-top: 8px;
    text-decoration: none;
    font-size: 20px;
    color: #2B1F16;
}
.footerdiv{
    background-color: #2B1F16;
    height: 30vh;
}
.footerfirstdiv{
    display: flex;
    justify-content: space-between; 
    margin-left: 40rem;
    margin-right: 40rem;
    font-size: 25px;
    font-weight: bold;
    color: white;
}
/* .footercontent{
    margin-left: 30rem;
    margin-top: 3rem;
    font-family: sans-serif;
    font-size: 25px;
}

.footercontent1{
    margin-left: 3rem;
    margin-top: 3rem;
    font-family: sans-serif;
    font-size: 25px;
}
.footercontent2{
    margin-left: 3rem;
    margin-top: 3rem;
    font-family: sans-serif;
    font-size: 25px;
}
.footercontent3{
    margin-left: 3rem;
    margin-top: 3rem;
    font-family: sans-serif;
    font-size: 25px;
} */

.socialdiv{
    display: flex;
    justify-content: space-between; 
    margin-left: 50rem;
    margin-right: 50rem;
    margin-top: 3rem;
    font-size: 3.5rem;
    color: white;
}



.lastcontentfooter{
    margin-left: 42rem;
   
}
.lastfooter{
    background-color: white;
}

a.linkall:hover, a.linkall:active {color: blue;}



